[Desktop Entry]
Version=1.0
Name=SafeDeal
Comment= SFD P2P Cryptocurrency
Comment[fr]= SFD, monnaie virtuelle cryptographique pair à pair
Comment[tr]= SFD, eşten eşe kriptografik sanal para birimi
Exec=safedeal-qt %u
Terminal=false
Type=Application
Icon=pivx128
MimeType=x-scheme-handler/pivx;
Categories=Office;Finance;
StartupWMClass=SafeDeal-qt
