# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=SFD_Coin Daemon SNAP
Comment=main
GenericName=SFD_Coin Digital Currency Daemon Client main network
Exec=sfd_coin-core.daemon %u
Terminal=true
Type=Application
Icon=${SNAP}/share/pixmaps/sfd_coin.png
MimeType=x-scheme-handler/sfd;
Categories=X-Office;X-Finance;
Keywords=internet;sfd_coin;zsfd;core;wallet;daemon;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
