# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=SFD_Coin
Comment=SFD_Coin QT test network
GenericName=SFD_Coin Digital Currency QT client testnet network
Exec=sfd_coin-core.qt-testnet %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/sfd_coin_testnet.png
MimeType=x-scheme-handler/sfd;
Categories=X-Office;X-Finance;
Keywords=internet;sfd_coin;zsfd;tsfd;core;wallet;qt;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
